<title>Cadastrar Especialidades</title>
<div class="section"></div>
<div class="section"></div>

<div class="col s12">

    <div class="input-field col s1">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">add</i></a>
    </div>
    <div id="formularioLivro">
        <form id="especialidadeForm">
            <div class="row">
                <div class='input-field col s2'>
                    <input id="especialidade" type="text" class="validate" required>
                    <label for="especialidade">Código</label>
                    <span class="helper-text" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Descrição</label>
                    <span class="helper-text" data-error="Informe uma descrição!" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Sigla</label>
                    <span class="helper-text" data-error="Informe uma descrição!" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Descrição</label>
                    <span class="helper-text" data-error="Informe uma sigla!" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="especialidade" type="text" class="validate" required>
                    <label for="especialidade">Ultima sequecia</label>
                    <span class="helper-text" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Sessão</label>
                    <span class="helper-text" data-error="Informe uma descrição!" data-success="Tudo certo!"></span>
                </div>
            </div>
            <div class="row">
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Sigla</label>
                    <span class="helper-text" data-error="Informe uma descrição!" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Descrição</label>
                    <span class="helper-text" data-error="Informe uma sigla!" data-success="Tudo certo!"></span>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Controla sequencia do livro</label>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Sequencia ato zero</label>
                </div>

                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Tipo de livro TJ</label>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Enviar DOI\EST</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Apontar indisponibilidade</label>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Controlar sequencia do ato</label>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Sequencia ato inicial</label>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Validar registro anterior</label>
                </div>
                <div class="input-field col s3">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Permite descrever garantia</label>
                </div>
                <div class="input-field col s1">
                    <a class="btn-floating btn-large waves-effect waves-light" onclick="adicionarEspecialidade()"><i class="material-icons">add</i></a>
                </div>
            </div>
        </form>
    </div>
    <blockquote>
        Não se esqueça de configurar as mensagens inicias de cada especialidade.
    </blockquote>
    <div class="row">
        <div class='table-responsive' id="especialidadesGrid">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Sigla</th>
                        <th>Sessao</th>
                        <th>Ultima Sequencia utilizada</th>
                        <th>Enviar DOI</th>
                        <th>Apontar indisponibiidade</th>
                        <th>Tipo de livro TJ</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 10; i++)
                    {
                        <tr id="">
                            <td>
                                95
                            </td>
                            <td>
                                Estorno de prenotacao
                            </td>
                            <td>
                                MAT
                            </td>
                            <td>
                                20
                            </td>
                            <td>
                                Não
                            </td>
                            <td>
                                Sim
                            </td>
                            <td>
                                Não
                            </td>
                            <td>
                                Livro 2
                            </td>
                            <td>
                                <a class="btn-floating btn-medium waves-light carmesim" asp-action="Mensagens" asp-controller="MensagemInicio" asp-route-id=""><i class="material-icons">chat</i></a>
                            </td>

                            <td>
                                <a class="btn-floating btn-medium waves-effect waves-light borgonha" onclick="excluirEspecialidade('');"><i class="material-icons">delete</i></a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <partial name="_ModalExcluir" />
    </div>
</div>

<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>

<script src="~/js/Especialidade.js"></script>