<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/materialize/css/materialize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/modaladicionar.css" rel="stylesheet" />

</head>
<body>
    <header>
        <ul id="acesso_rapido" class="dropdown-content">
            <li><a class="black-text" asp-action="Home" asp-controller="Intencao">Recepção</a></li>
            <li><a class="black-text" asp-action="Home" asp-controller="Intencao">Certidão</a></li>
        </ul>

        <ul id="consultas" class="dropdown-content">
            <li><a class="black-text" asp-action="Home" asp-controller="Especialidade">Indicador real</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Indicador pessoal</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Imóveis</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Transcrição</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Pesquisa geral</a></li>
        </ul>

        <ul id="cadastros" class="dropdown-content">
            <li><a class="black-text" asp-action="GerenciarLivro" asp-controller="Livro">Livro</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Pessoa</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Imoveis">Imóveis</a></li>
        </ul>

        <ul id="administracao" class="dropdown-content">
            <li><a class="black-text" asp-action="GerenciarLivro" asp-controller="Livro">Usuários</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Parâmetros</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Sequencias</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Imoveis">Estornar cancelamento</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Imoveis">Estornar reentrada</a></li>
        </ul>


        <ul id="manutencoes" class="dropdown-content">
            <li><a class="black-text" asp-action="GerenciarLivro" asp-controller="Livro">Usuários</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Parâmetros</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Sequencias</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Imoveis">Estornar cancelamento</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Imoveis">Estornar reentrada</a></li>
        </ul>

        
        <ul id="controlediario" class="dropdown-content">
            <li><a class="black-text" asp-action="GerenciarLivro" asp-controller="Livro">Usuários</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Parâmetros</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Sequencias</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Imoveis">Estornar cancelamento</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Imoveis">Estornar reentrada</a></li>
        </ul>


        <ul id="acesso_rapido_mobile" class="dropdown-content">
            <li><a class="black-text" asp-action="Home" asp-controller="Intencao">Intenções</a></li>
        </ul>

        <ul id="cadastros_mobile" class="dropdown-content">
            <li><a class="black-text" asp-action="Home" asp-controller="Especialidade">Indicador real</a></li>
            <li><a class="black-text" asp-action="Cadastrar" asp-controller="Usuarios">Indicador pessoal</a></li>
        </ul>

        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo"> <img src="https://spcm.com.br/wp-content/themes/siplan/assets/images/logo.png" alt="logo spcm" height="33" width="240" /> </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" href="#!" data-target="acesso_rapido">Inicio<i class="material-icons right">home</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="acesso_rapido">Acesso rápido<i class="material-icons right">wrap_text</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="manutencoes">Manutenções<i class="material-icons right">build</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="consultas">Consultas<i class="material-icons right">search</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="cadastros">Cadastros<i class="material-icons right">mode_edit</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="administracao">Administração<i class="material-icons right">keyboard</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="controlediario">Controle diário<i class="material-icons right">playlist_add</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="acesso_rapido">Sair<i class="material-icons right">keyboard_tab</i></a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a class="dropdown-trigger" href="#!" data-target="acesso_rapido_mobile">Acesso rápido<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="cadastros_mobile">Consultas<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a onclick="window.location.href = '/Usuarios/Login'">Sair</a></li>
        </ul>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer">
        <div class="container">
            Política de privacidade © 2021 - Todos os direitos reservados
            <a class="grey-text text-lighten-4 right" href="https://spcm.com.br/">SiplanControl-M</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/util/confirmarexclusao.js"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/js/inicializacoes/InicializarTooltips.js"></script>
    <script src="~/js/inicializacoes/InicializarDatepicker.js"></script>
    <script src="~/js/inicializacoes/inicializarselects.js"></script>
    <script src="~/js/util/util.js"></script>
</body>
</html>
