<div class="modal modal-fixed-footer" id="modal">

    <div class="modal-content">
        <h6>Exclusão de registros</h6>
        <p class="texto"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-small carmesim darken-4 btnExcluir">Sim</button>
        <button type="button" class="btn-small carmesim darken-4 modal-close">Não</button>
    </div>
</div>