
<div class="row button-recepcao">
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">first_page</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">keyboard_arrow_left</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">keyboard_arrow_right</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">last_page</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">search</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">local_library</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">local_printshop</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">group_add</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">insert_invitation</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">local_parking</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">arrow_downward</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">arrow_upward</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">settings_cell</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">attach_money</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">content_copy</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">clear</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">print</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">save</i></a>
    </div>
    <div id="add" class="input-field col button-recepcao">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">clear_all</i></a>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/recepcao/recepcao.js"></script>